/*
 Generics:
 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    background: #8e44ad;
    color: #ecf0f1;
    font: 50px bold Futura, sans-serif;
}

/*
 Elements:
 */
 button, button:focus, button:link {
    background: #ecf0f1;
    box-shadow: 0px 2px 6px #d574ff;
    color: #8e44ad;
    font-size: 40px;
    border: 1px solid #8e44ad;
    border-radius: 6px;
    padding: 5px 20px;
}
button:active {
    background: #8e44ad;
    color: #ecf0f1;
    border: 1px solid black;
}

/*
 Components:
 */
main {
    min-height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 68px;
}

#add2hs {    
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    margin-bottom: -68px;
    animation: moveUp 1s ease-out 3s forwards;
}
#add2hs span {
    font: 40% normal;
    margin-right: -6px;
}
#add2hs button {
    padding: 2px 16px;
}

@keyframes moveUp {
    from { margin-bottom: -68px; }
    to { margin-bottom: 0px; }
}